$base-color: #f5f5f5;
a {
  text-decoration: none !important;
  color: rgb(8, 92, 219);
}
body {
  background-color: $base-color;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section {
  margin: 10px 0;
  text-align: center;
  .section-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #edeeee;
  }
}
.displayed-items-row {
  margin: 20px;
}
.card {
  border: 0;
}

.cover {
  .img-hover-zoom--colorize {
    transition: transform 0.3s;
    transform: scale(0.95);
  }
  /* The Transformation */
  .img-hover-zoom--colorize:hover {
    filter: grayscale(0);
    transform: scale(1);
  }
}

.item {
  border-radius: 10px;
  transition: transform 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  .img-fluid {
    height: 175px;
  }
  &:hover {
    box-shadow: -3px -3px 10px rgb(153, 153, 153),
      3px 3px 10px rgb(153, 153, 153);
    filter: grayscale(0);
    transform: scale(1.1);
    z-index: 1;
  }
}
.breadcrumb {
  background-color: transparent;
}
